**/*.pyc
**/*.o
**/*.elf
**/*.bin
**/*.prx
**/*.idb

DC8

bootcnf/bootcnf

ipl/ipl_stage1_payload/payload.S

ipl/ipl_stage2_payload/payloadex.s

modules/flashemu/rebootex.S
modules/flashemu/rebootex_02g.S
modules/flashemu/rebootex_03g.S

